/*! tailwindcss v2.1.2 | MIT License | https://tailwindcss.com

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize

/*
 *Document
 *========

/**
 *Use a better box model (opinionated).

*
  box-sizing: border-box

  &::before, &::after
    box-sizing: border-box

/**
 *Use a more readable tab size (opinionated).

\:root
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4

/**
 *1. Correct the line height in all browsers.
 *2. Prevent adjustments of font size after orientation changes in iOS.

html
  line-height: 1.15

  /* 1
  -webkit-text-size-adjust: 100%

  /* 2

/*
 *Sections
 *========

/**
 *Remove the margin in all browsers.

body
  margin: 0
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"

/**
 *Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)

/*
 *Grouping content
 *================

/**
 *1. Add the correct height in Firefox.
 *2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)

hr
  height: 0

  /* 1
  color: inherit

  /* 2

/*
 *Text-level semantics
 *====================

/**
 *Add the correct text decoration in Chrome, Edge, and Safari.

abbr[title]
  -webkit-text-decoration: underline dotted
  text-decoration: underline dotted

/**
 *Add the correct font weight in Edge and Safari.

b, strong
  font-weight: bolder

/**
 *1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 *2. Correct the odd 'em' font sizing in all browsers.

code, kbd, samp, pre
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace

  /* 1
  font-size: 1em

  /* 2

/**
 *Add the correct font size in all browsers.

small
  font-size: 80%

/**
 *Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sub
  bottom: -0.25em

sup
  top: -0.5em

/*
 *Tabular data
 *============

/**
 *1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
 *2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)

table
  text-indent: 0

  /* 1
  border-color: inherit

  /* 2

/*
 *Forms
 *=====

/**
 *1. Change the font styles in all browsers.
 *2. Remove the margin in Firefox and Safari.

button, input, optgroup, select, textarea
  font-family: inherit

  /* 1
  font-size: 100%

  /* 1
  line-height: 1.15

  /* 1
  margin: 0

  /* 2

/**
 *Remove the inheritance of text transform in Edge and Firefox.
 *1. Remove the inheritance of text transform in Firefox.

button, select
  /* 1
  text-transform: none

/**
 *Correct the inability to style clickable types in iOS and Safari.

button, [type='button'], [type='reset']
  -webkit-appearance: button

/**
 *Remove the inner border and padding in Firefox.

/**
 *Restore the focus styles unset by the previous rule.

/**
 *Remove the additional ':invalid' styles in Firefox.
 *See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737

/**
 *Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.

legend
  padding: 0

/**
 *Add the correct vertical alignment in Chrome and Firefox.

progress
  vertical-align: baseline

/**
 *Correct the cursor style of increment and decrement buttons in Safari.

/**
 *1. Correct the odd appearance in Chrome and Safari.
 *2. Correct the outline style in Safari.

[type='search']
  -webkit-appearance: textfield

  /* 1
  outline-offset: -2px

  /* 2

/**
 *Remove the inner padding in Chrome and Safari on macOS.

/**
 *1. Correct the inability to style clickable types in iOS and Safari.
 *2. Change font properties to 'inherit' in Safari.

/*
 *Interactive
 *===========

/*
 *Add the correct display in Chrome and Safari.

summary
  display: list-item

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.

/**
 * Removes the default spacing and border for appropriate elements.

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre
  margin: 0

button
  background-color: transparent
  background-image: none

  &:focus
    outline: 1px dotted
    outline: 5px auto -webkit-focus-ring-color

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.

fieldset
  margin: 0
  padding: 0

ol, ul
  list-style: none
  margin: 0
  padding: 0

/**
 * Tailwind custom reset styles

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.

html
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

  /* 1
  line-height: 1.5

  /* 2

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.

body
  font-family: inherit
  line-height: inherit

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116

*, ::before, ::after
  box-sizing: border-box

  /* 1
  border-width: 0

  /* 2
  border-style: solid

  /* 2
  border-color: #e5e7eb

  /* 2

/*
 * Ensure horizontal rules are visible by default

hr
  border-top-width: 1px

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362

img
  border-style: solid

textarea
  resize: vertical

input::-moz-placeholder, textarea::-moz-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder, input::placeholder, textarea::placeholder
  opacity: 1
  color: #9ca3af

button
  cursor: pointer

table
  border-collapse: collapse

h1, h2, h3, h4, h5, h6
  font-size: inherit
  font-weight: inherit

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.

a
  color: inherit
  text-decoration: inherit

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.

button, input, optgroup, select, textarea
  padding: 0
  line-height: inherit
  color: inherit

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.

pre, code, kbd, samp
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14

img, svg, video, canvas, audio, iframe, embed, object
  display: block
  vertical-align: middle

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14

img, video
  max-width: 100%
  height: auto

.container
  width: 100%

@media (min-width: 640px)
  .container
    max-width: 640px

@media (min-width: 768px)
  .container
    max-width: 768px

@media (min-width: 1024px)
  .container
    max-width: 1024px

@media (min-width: 1280px)
  .container
    max-width: 1280px

@media (min-width: 1536px)
  .container
    max-width: 1536px

.prose
  color: #374151
  max-width: 65ch

  [class~="lead"]
    color: #4b5563
    font-size: 1.25em
    line-height: 1.6
    margin-top: 1.2em
    margin-bottom: 1.2em

  a
    color: #1d4ed8
    text-decoration: none
    font-weight: 500

    &:hover
      color: #1e3a8a
      text-decoration: underline

  strong
    color: #111827
    font-weight: 600

  ol
    &[type="a"]
      --list-counter-style:lower-alpha

    &[type="i"]
      --list-counter-style:lower-roman

    &[type="1"]
      --list-counter-style:decimal

    > li
      position: relative
      padding-left: 1.75em

      &::before
        content: counter(list-item, var(--list-counter-style, decimal)) "."
        position: absolute
        font-weight: 400
        color: #6b7280
        left: 0

  ul > li
    position: relative
    padding-left: 1.75em

    &::before
      content: ""
      position: absolute
      background-color: #d1d5db
      border-radius: 50%
      width: 0.375em
      height: 0.375em
      top: calc(0.875em - 0.1875em)
      left: 0.25em

  hr
    border-color: #e5e7eb
    border-top-width: 1px
    margin-top: 3em
    margin-bottom: 3em

  blockquote
    font-weight: 500
    font-style: italic
    color: #111827
    border-left-width: 0.25rem
    border-left-color: #e5e7eb
    quotes: "“" "”" "‘" "’"
    margin-top: 1.6em
    margin-bottom: 1.6em
    padding-left: 1em

    p
      &:first-of-type::before
        content: open-quote

      &:last-of-type::after
        content: close-quote

  h1
    color: #111827
    font-weight: 800
    font-size: 2.25em
    margin-top: 0
    margin-bottom: 0.8888889em
    line-height: 1.1111111

  h2
    color: #111827
    font-weight: 700
    font-size: 1.5em
    margin-top: 0
    margin-bottom: 1em
    line-height: 1.3333333

  h3
    color: #111827
    font-weight: 600
    font-size: 1.25em
    margin-top: 1.6em
    margin-bottom: 0.6em
    line-height: 1.6

  h4
    color: #111827
    font-weight: 600
    margin-top: 1.5em
    margin-bottom: 0.5em
    line-height: 1.5

  figure figcaption
    color: #6b7280
    font-size: 0.875em
    line-height: 1.4285714
    margin-top: 0.8571429em

  code
    color: #111827
    font-weight: 600
    font-size: 0.875em

    &::before, &::after
      content: "`"

  a code
    color: #111827

  pre
    color: #e5e7eb
    background-color: #1f2937
    overflow-x: auto
    font-size: 0.875em
    line-height: 1.7142857
    margin-top: 1.7142857em
    margin-bottom: 1.7142857em
    border-radius: 0.375rem
    padding-top: 0.8571429em
    padding-right: 1.1428571em
    padding-bottom: 0.8571429em
    padding-left: 1.1428571em

    code
      background-color: transparent
      border-width: 0
      border-radius: 0
      padding: 0
      font-weight: 400
      color: inherit
      font-size: inherit
      font-family: inherit
      line-height: inherit

      &::before, &::after
        content: none

  table
    width: 100%
    table-layout: auto
    text-align: left
    margin-top: 2em
    margin-bottom: 2em
    font-size: 0.875em
    line-height: 1.7142857

  thead
    color: #111827
    font-weight: 600
    border-bottom-width: 1px
    border-bottom-color: #d1d5db

    th
      vertical-align: bottom
      padding-right: 0.5714286em
      padding-bottom: 0.5714286em
      padding-left: 0.5714286em

  tbody
    tr
      border-bottom-width: 1px
      border-bottom-color: #e5e7eb

      &:last-child
        border-bottom-width: 0

    td
      vertical-align: top
      padding-top: 0.5714286em
      padding-right: 0.5714286em
      padding-bottom: 0.5714286em
      padding-left: 0.5714286em

  font-size: 1rem
  line-height: 1.75

  p
    margin-top: 0.25em
    margin-bottom: 0em
    line-height: 1.5em

  img, video
    margin-top: 2em
    margin-bottom: 2em

  figure
    margin-top: 2em
    margin-bottom: 2em

    > *
      margin-top: 0
      margin-bottom: 0

  h2 code
    font-size: 0.875em

  h3 code
    font-size: 0.9em

  ol, ul
    margin-top: 1.25em
    margin-bottom: 1.25em

  li
    margin-top: 0.5em
    margin-bottom: 0.5em

  >
    ul > li
      p
        margin-top: 0.75em
        margin-bottom: 0.75em

      > *
        &:first-child
          margin-top: 1.25em

        &:last-child
          margin-bottom: 1.25em

    ol > li > *
      &:first-child
        margin-top: 1.25em

      &:last-child
        margin-bottom: 1.25em

  ul
    ul, ol
      margin-top: 0.75em
      margin-bottom: 0.75em

  ol
    ul, ol
      margin-top: 0.75em
      margin-bottom: 0.75em

  hr + *, h2 + *, h3 + *, h4 + *
    margin-top: 0

  thead th, tbody td
    &:first-child
      padding-left: 0

    &:last-child
      padding-right: 0

  >
    \:first-child
      margin-top: 0

    \:last-child
      margin-bottom: 0

.dark .dark\:prose-dark
  color: #e5e7eb

  p, h1, h2, h3, h4, h5, h6, code, strong, td, blockquote
    color: #e5e7eb

  a
    color: #f59e0b

    &:hover
      color: #fcd34d

.prose code
  &::after
    content: ""

  &::before
    content: "" !important

.space-y-3 > :not([hidden]) ~ :not([hidden])
  --tw-space-y-reverse:0 !important
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse))) !important
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse)) !important

.space-x-4 > :not([hidden]) ~ :not([hidden])
  --tw-space-x-reverse:0 !important
  margin-right: calc(1rem * var(--tw-space-x-reverse)) !important
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse))) !important

.space-y-reverse > :not([hidden]) ~ :not([hidden])
  --tw-space-y-reverse:1 !important

.space-x-reverse > :not([hidden]) ~ :not([hidden])
  --tw-space-x-reverse:1 !important

.divide-y-0 > :not([hidden]) ~ :not([hidden])
  --tw-divide-y-reverse:0 !important
  border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse))) !important
  border-bottom-width: calc(0px * var(--tw-divide-y-reverse)) !important

.divide-x-0 > :not([hidden]) ~ :not([hidden])
  --tw-divide-x-reverse:0 !important
  border-right-width: calc(0px * var(--tw-divide-x-reverse)) !important
  border-left-width: calc(0px * calc(1 - var(--tw-divide-x-reverse))) !important

.divide-x-2 > :not([hidden]) ~ :not([hidden])
  --tw-divide-x-reverse:0 !important
  border-right-width: calc(2px * var(--tw-divide-x-reverse)) !important
  border-left-width: calc(2px * calc(1 - var(--tw-divide-x-reverse))) !important

.divide-y-4 > :not([hidden]) ~ :not([hidden])
  --tw-divide-y-reverse:0 !important
  border-top-width: calc(4px * calc(1 - var(--tw-divide-y-reverse))) !important
  border-bottom-width: calc(4px * var(--tw-divide-y-reverse)) !important

.divide-y > :not([hidden]) ~ :not([hidden])
  --tw-divide-y-reverse:0 !important
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse))) !important
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse)) !important

.divide-gray-200 > :not([hidden]) ~ :not([hidden])
  --tw-divide-opacity:1 !important
  border-color: rgba(229, 231, 235, var(--tw-divide-opacity)) !important

.divide-dotted > :not([hidden]) ~ :not([hidden])
  border-style: dotted !important

.divide-opacity-50 > :not([hidden]) ~ :not([hidden])
  --tw-divide-opacity:0.5 !important

.sr-only
  position: absolute !important
  width: 1px !important
  height: 1px !important
  padding: 0 !important
  margin: -1px !important
  overflow: hidden !important
  clip: rect(0, 0, 0, 0) !important
  white-space: nowrap !important
  border-width: 0 !important

.appearance-none
  -webkit-appearance: none !important
  -moz-appearance: none !important
  appearance: none !important

.bg-local
  background-attachment: local !important

.bg-clip-border
  background-clip: border-box !important

.bg-black
  --tw-bg-opacity:1 !important
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity)) !important

.bg-white
  --tw-bg-opacity:1 !important
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important

.bg-gray-100
  --tw-bg-opacity:1 !important
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important

.bg-gray-200
  --tw-bg-opacity:1 !important
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity)) !important

.bg-green-500
  --tw-bg-opacity:1 !important
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity)) !important

.bg-blue-500
  --tw-bg-opacity:1 !important
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity)) !important

.hover\:bg-gray-300:hover
  --tw-bg-opacity:1 !important
  background-color: rgba(209, 213, 219, var(--tw-bg-opacity)) !important

.focus\:bg-white:focus
  --tw-bg-opacity:1 !important
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity)) !important

.focus\:bg-gray-200:focus
  --tw-bg-opacity:1 !important
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity)) !important

.dark
  .dark\:bg-yellow-500
    --tw-bg-opacity:1 !important
    background-color: rgba(245, 158, 11, var(--tw-bg-opacity)) !important

  .dark\:bg-dark1
    --tw-bg-opacity:1 !important
    background-color: rgba(32, 33, 36, var(--tw-bg-opacity)) !important

  .dark\:bg-dark2
    --tw-bg-opacity:1 !important
    background-color: rgba(42, 43, 46, var(--tw-bg-opacity)) !important

  .dark\:hover\:bg-dark3:hover
    --tw-bg-opacity:1 !important
    background-color: rgba(60, 64, 67, var(--tw-bg-opacity)) !important

.bg-gradient-to-r
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important

.from-red-300
  --tw-gradient-from:#fca5a5 !important
  --tw-gradient-stops:var(--tw-gradient-from), var(--tw-gradient-to, rgba(252, 165, 165, 0)) !important

.via-purple-200
  --tw-gradient-stops:var(--tw-gradient-from), #ddd6fe, var(--tw-gradient-to, rgba(221, 214, 254, 0)) !important

.to-blue-400
  --tw-gradient-to:#60a5fa !important

.bg-opacity-20
  --tw-bg-opacity:0.2 !important

.bg-opacity-50
  --tw-bg-opacity:0.5 !important

.bg-top
  background-position: top !important

.bg-no-repeat
  background-repeat: no-repeat !important

.bg-cover
  background-size: cover !important

.border-collapse
  border-collapse: collapse !important

.border-transparent
  border-color: transparent !important

.border-black
  --tw-border-opacity:1 !important
  border-color: rgba(0, 0, 0, var(--tw-border-opacity)) !important

.border-gray-200
  --tw-border-opacity:1 !important
  border-color: rgba(229, 231, 235, var(--tw-border-opacity)) !important

.border-gray-300
  --tw-border-opacity:1 !important
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important

.border-gray-500
  --tw-border-opacity:1 !important
  border-color: rgba(107, 114, 128, var(--tw-border-opacity)) !important

.focus\:border-transparent:focus
  border-color: transparent !important

.focus\:border-black:focus
  --tw-border-opacity:1 !important
  border-color: rgba(0, 0, 0, var(--tw-border-opacity)) !important

.focus\:border-gray-300:focus
  --tw-border-opacity:1 !important
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important

.focus\:border-gray-500:focus
  --tw-border-opacity:1 !important
  border-color: rgba(107, 114, 128, var(--tw-border-opacity)) !important

.focus\:border-indigo-300:focus
  --tw-border-opacity:1 !important
  border-color: rgba(165, 180, 252, var(--tw-border-opacity)) !important

.dark .dark\:border-gray-300
  --tw-border-opacity:1 !important
  border-color: rgba(209, 213, 219, var(--tw-border-opacity)) !important

.border-opacity-10
  --tw-border-opacity:0.1 !important

.rounded
  border-radius: 0.25rem !important

.rounded-md
  border-radius: 0.375rem !important

.rounded-full
  border-radius: 9999px !important

.border-solid
  border-style: solid !important

.border-0
  border-width: 0px !important

.border-2
  border-width: 2px !important

.border
  border-width: 1px !important

.border-b-2
  border-bottom-width: 2px !important

.border-t
  border-top-width: 1px !important

.decoration-slice
  -webkit-box-decoration-break: slice !important
  box-decoration-break: slice !important

.decoration-clone
  -webkit-box-decoration-break: clone !important
  box-decoration-break: clone !important

.box-border
  box-sizing: border-box !important

.cursor-pointer
  cursor: pointer !important

.block
  display: block !important

.flex
  display: flex !important

.inline-flex
  display: inline-flex !important

.table
  display: table !important

.grid
  display: grid !important

.inline-grid
  display: inline-grid !important

.hidden
  display: none !important

.flex-row
  flex-direction: row !important

.flex-row-reverse
  flex-direction: row-reverse !important

.flex-col
  flex-direction: column !important

.flex-wrap
  flex-wrap: wrap !important

.place-items-end
  place-items: end !important

.place-content-start
  place-content: start !important

.place-self-center
  place-self: center !important

.items-start
  align-items: flex-start !important

.items-center
  align-items: center !important

.content-center
  align-content: center !important

.self-end
  align-self: flex-end !important

.justify-items-end
  justify-items: end !important

.justify-center
  justify-content: center !important

.justify-between
  justify-content: space-between !important

.justify-self-start
  justify-self: start !important

.flex-1
  flex: 1 1 0% !important

.flex-grow-0
  flex-grow: 0 !important

.flex-grow
  flex-grow: 1 !important

.flex-shrink-0
  flex-shrink: 0 !important

.flex-shrink
  flex-shrink: 1 !important

.order-2
  order: 2 !important

.order-last
  order: 9999 !important

.float-right
  float: right !important

.clear-left
  clear: left !important

.font-sans
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important

.font-medium
  font-weight: 500 !important

.font-semibold
  font-weight: 600 !important

.font-bold
  font-weight: 700 !important

.h-5
  height: 1.25rem !important

.h-16
  height: 4rem !important

.h-24
  height: 6rem !important

.h-full
  height: 100% !important

.text-sm
  font-size: 0.875rem !important
  line-height: 1.25rem !important

.text-lg
  font-size: 1.125rem !important
  line-height: 1.75rem !important

.text-2xl
  font-size: 1.5rem !important
  line-height: 2rem !important

.text-3xl
  font-size: 1.875rem !important
  line-height: 2.25rem !important

.text-4xl
  font-size: 2.25rem !important
  line-height: 2.5rem !important

.leading-5
  line-height: 1.25rem !important

.leading-relaxed
  line-height: 1.625 !important

.list-inside
  list-style-position: inside !important

.list-disc
  list-style-type: disc !important

.m-1
  margin: 0.25rem !important

.m-4
  margin: 1rem !important

.my-0
  margin-top: 0px !important
  margin-bottom: 0px !important

.my-2
  margin-top: 0.5rem !important
  margin-bottom: 0.5rem !important

.mx-auto
  margin-left: auto !important
  margin-right: auto !important

.mt-0
  margin-top: 0px !important

.mb-0
  margin-bottom: 0px !important

.mt-1
  margin-top: 0.25rem !important

.mr-1
  margin-right: 0.25rem !important

.mb-1
  margin-bottom: 0.25rem !important

.ml-1
  margin-left: 0.25rem !important

.mt-2
  margin-top: 0.5rem !important

.mb-2
  margin-bottom: 0.5rem !important

.ml-2
  margin-left: 0.5rem !important

.mb-3
  margin-bottom: 0.75rem !important

.mt-4
  margin-top: 1rem !important

.ml-4
  margin-left: 1rem !important

.mt-6
  margin-top: 1.5rem !important

.mb-6
  margin-bottom: 1.5rem !important

.mt-8
  margin-top: 2rem !important

.mb-8
  margin-bottom: 2rem !important

.max-h-screen
  max-height: 100vh !important

.max-w-md
  max-width: 28rem !important

.max-w-xl
  max-width: 36rem !important

.max-w-4xl
  max-width: 56rem !important

.max-w-full
  max-width: 100% !important

.max-w-screen-md
  max-width: 768px !important

.min-h-0
  min-height: 0px !important

.min-w-min
  min-width: -webkit-min-content !important
  min-width: -moz-min-content !important
  min-width: min-content !important

.object-cover
  -o-object-fit: cover !important
  object-fit: cover !important

.object-bottom
  -o-object-position: bottom !important
  object-position: bottom !important

.opacity-90
  opacity: 0.9 !important

.outline-none
  outline: 2px solid transparent !important
  outline-offset: 2px !important

.outline-black
  outline: 2px dotted black !important
  outline-offset: 2px !important

.overflow-hidden
  overflow: hidden !important

.overscroll-contain
  -ms-scroll-chaining: none !important
  overscroll-behavior: contain !important

.p-3
  padding: 0.75rem !important

.p-4
  padding: 1rem !important

.px-0
  padding-left: 0px !important
  padding-right: 0px !important

.py-1
  padding-top: 0.25rem !important
  padding-bottom: 0.25rem !important

.py-2
  padding-top: 0.5rem !important
  padding-bottom: 0.5rem !important

.px-2
  padding-left: 0.5rem !important
  padding-right: 0.5rem !important

.px-3
  padding-left: 0.75rem !important
  padding-right: 0.75rem !important

.px-6
  padding-left: 1.5rem !important
  padding-right: 1.5rem !important

.py-8
  padding-top: 2rem !important
  padding-bottom: 2rem !important

.py-12
  padding-top: 3rem !important
  padding-bottom: 3rem !important

.px-0\.5
  padding-left: 0.125rem !important
  padding-right: 0.125rem !important

.pt-1
  padding-top: 0.25rem !important

.pt-2
  padding-top: 0.5rem !important

.pr-2
  padding-right: 0.5rem !important

.pb-3
  padding-bottom: 0.75rem !important

.pb-4
  padding-bottom: 1rem !important

.pl-4
  padding-left: 1rem !important

.placeholder-green-300
  &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder
    --tw-placeholder-opacity:1 !important
    color: rgba(110, 231, 183, var(--tw-placeholder-opacity)) !important

.placeholder-opacity-60
  &::-moz-placeholder, &:-ms-input-placeholder, &::placeholder
    --tw-placeholder-opacity:0.6 !important

.pointer-events-none
  pointer-events: none !important

.absolute
  position: absolute !important

.inset-0
  top: 0px !important
  right: 0px !important
  bottom: 0px !important
  left: 0px !important

.inset-x-2
  right: 0.5rem !important
  left: 0.5rem !important

.inset-y-4
  top: 1rem !important
  bottom: 1rem !important

.top-6
  top: 1.5rem !important

.right-8
  right: 2rem !important

.bottom-12
  bottom: 3rem !important

.left-16
  left: 4rem !important

.resize-none
  resize: none !important

*
  --tw-shadow:0 0 #0000

.shadow-sm
  --tw-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.shadow
  --tw-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.shadow-md
  --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.shadow-lg
  --tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.focus-within\:shadow-md:focus-within, .hover\:shadow-md:hover
  --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.hover\:shadow-lg:hover
  --tw-shadow:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

.focus\:shadow-md:focus
  --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

*
  --tw-ring-inset:var(--tw-empty)
  --tw-ring-offset-width:0px
  --tw-ring-offset-color:#fff
  --tw-ring-color:rgba(59, 130, 246, 0.5)
  --tw-ring-offset-shadow:0 0 #0000
  --tw-ring-shadow:0 0 #0000

.ring-4
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.ring
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.focus\:ring-0:focus
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.focus\:ring-1:focus
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.focus\:ring-2:focus
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.focus\:ring:focus
  --tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important
  --tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important

.ring-offset-blue-300
  --tw-ring-offset-color:#93c5fd !important

.ring-offset-2
  --tw-ring-offset-width:2px !important

.focus\:ring-offset-0:focus
  --tw-ring-offset-width:0px !important

.focus\:ring-offset-2:focus
  --tw-ring-offset-width:2px !important

.ring-white
  --tw-ring-opacity:1 !important
  --tw-ring-color:rgba(255, 255, 255, var(--tw-ring-opacity)) !important

.focus\:ring-black:focus
  --tw-ring-opacity:1 !important
  --tw-ring-color:rgba(0, 0, 0, var(--tw-ring-opacity)) !important

.focus\:ring-gray-500:focus
  --tw-ring-opacity:1 !important
  --tw-ring-color:rgba(107, 114, 128, var(--tw-ring-opacity)) !important

.focus\:ring-blue-500:focus
  --tw-ring-opacity:1 !important
  --tw-ring-color:rgba(59, 130, 246, var(--tw-ring-opacity)) !important

.focus\:ring-indigo-200:focus
  --tw-ring-opacity:1 !important
  --tw-ring-color:rgba(199, 210, 254, var(--tw-ring-opacity)) !important

.ring-opacity-40
  --tw-ring-opacity:0.4 !important

.focus\:ring-opacity-50:focus
  --tw-ring-opacity:0.5 !important

.fill-current
  fill: currentColor !important

.stroke-current
  stroke: currentColor !important

.stroke-2
  stroke-width: 2 !important

.table-fixed
  table-layout: fixed !important

.text-center
  text-align: center !important

.text-black
  --tw-text-opacity:1 !important
  color: rgba(0, 0, 0, var(--tw-text-opacity)) !important

.text-gray-500
  --tw-text-opacity:1 !important
  color: rgba(107, 114, 128, var(--tw-text-opacity)) !important

.text-gray-600
  --tw-text-opacity:1 !important
  color: rgba(75, 85, 99, var(--tw-text-opacity)) !important

.text-gray-700
  --tw-text-opacity:1 !important
  color: rgba(55, 65, 81, var(--tw-text-opacity)) !important

.text-gray-900
  --tw-text-opacity:1 !important
  color: rgba(17, 24, 39, var(--tw-text-opacity)) !important

.text-red-500
  --tw-text-opacity:1 !important
  color: rgba(239, 68, 68, var(--tw-text-opacity)) !important

.text-indigo-500
  --tw-text-opacity:1 !important
  color: rgba(99, 102, 241, var(--tw-text-opacity)) !important

.text-indigo-600
  --tw-text-opacity:1 !important
  color: rgba(79, 70, 229, var(--tw-text-opacity)) !important

.hover\:text-gray-800:hover
  --tw-text-opacity:1 !important
  color: rgba(31, 41, 55, var(--tw-text-opacity)) !important

.dark
  .dark\:text-gray-500
    --tw-text-opacity:1 !important
    color: rgba(107, 114, 128, var(--tw-text-opacity)) !important

  .dark\:hover\:text-gray-200:hover
    --tw-text-opacity:1 !important
    color: rgba(229, 231, 235, var(--tw-text-opacity)) !important

.text-opacity-10
  --tw-text-opacity:0.1 !important

.truncate
  overflow: hidden !important
  text-overflow: ellipsis !important
  white-space: nowrap !important

.overflow-ellipsis
  text-overflow: ellipsis !important

.not-italic
  font-style: normal !important

.uppercase
  text-transform: uppercase !important

.underline
  text-decoration: underline !important

.antialiased
  -webkit-font-smoothing: antialiased !important
  -moz-osx-font-smoothing: grayscale !important

.ordinal, .tabular-nums, .diagonal-fractions
  --tw-ordinal:var(--tw-empty) !important
  --tw-slashed-zero:var(--tw-empty) !important
  --tw-numeric-figure:var(--tw-empty) !important
  --tw-numeric-spacing:var(--tw-empty) !important
  --tw-numeric-fraction:var(--tw-empty) !important
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction) !important

.ordinal
  --tw-ordinal:ordinal !important

.tabular-nums
  --tw-numeric-spacing:tabular-nums !important

.diagonal-fractions
  --tw-numeric-fraction:diagonal-fractions !important

.tracking-tight
  letter-spacing: -0.025em !important

.select-none
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

.align-middle
  vertical-align: middle !important

.invisible
  visibility: hidden !important

.whitespace-nowrap
  white-space: nowrap !important

.break-words
  overflow-wrap: break-word !important

.w-12
  width: 3rem !important

.w-4\/5
  width: 80% !important

.w-full
  width: 100% !important

.z-30
  z-index: 30 !important

.isolate
  isolation: isolate !important

.isolation-auto
  isolation: auto !important

.gap-4
  gap: 1rem !important

.gap-6
  gap: 1.5rem !important

.gap-x-2
  -moz-column-gap: 0.5rem !important
  column-gap: 0.5rem !important

.gap-y-3
  row-gap: 0.75rem !important

.grid-flow-row
  grid-auto-flow: row !important

.grid-cols-1
  grid-template-columns: repeat(1, minmax(0, 1fr)) !important

.grid-cols-2
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important

.grid-cols-4
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important

.auto-cols-min
  grid-auto-columns: -webkit-min-content !important
  grid-auto-columns: min-content !important

.col-span-3
  grid-column: span 3 / span 3 !important

.col-start-1
  grid-column-start: 1 !important

.col-end-4
  grid-column-end: 4 !important

.grid-rows-3
  grid-template-rows: repeat(3, minmax(0, 1fr)) !important

.auto-rows-max
  grid-auto-rows: -webkit-max-content !important
  grid-auto-rows: max-content !important

.row-span-2
  grid-row: span 2 / span 2 !important

.row-start-3
  grid-row-start: 3 !important

.row-end-5
  grid-row-end: 5 !important

.transform
  --tw-translate-x:0 !important
  --tw-translate-y:0 !important
  --tw-rotate:0 !important
  --tw-skew-x:0 !important
  --tw-skew-y:0 !important
  --tw-scale-x:1 !important
  --tw-scale-y:1 !important
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important

.transform-gpu
  --tw-translate-x:0 !important
  --tw-translate-y:0 !important
  --tw-rotate:0 !important
  --tw-skew-x:0 !important
  --tw-skew-y:0 !important
  --tw-scale-x:1 !important
  --tw-scale-y:1 !important
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important

.origin-top-right
  transform-origin: top right !important

.scale-50
  --tw-scale-x:.5 !important
  --tw-scale-y:.5 !important

.scale-95
  --tw-scale-x:.95 !important
  --tw-scale-y:.95 !important

.hover\:scale-75:hover
  --tw-scale-x:.75 !important
  --tw-scale-y:.75 !important

.rotate-3
  --tw-rotate:3deg !important

.translate-x-5
  --tw-translate-x:1.25rem !important

.-translate-x-3
  --tw-translate-x:-0.75rem !important

.-translate-x-4
  --tw-translate-x:-1rem !important

.translate-y-6
  --tw-translate-y:1.5rem !important

.skew-x-12
  --tw-skew-x:12deg !important

.skew-y-12
  --tw-skew-y:12deg !important

.transition-all
  transition-property: all !important
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
  transition-duration: 150ms !important

.transition
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important
  transition-duration: 150ms !important

.ease-in-out
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important

.duration-200
  transition-duration: 200ms !important

.delay-300
  transition-delay: 300ms !important

@-webkit-keyframes spin
  to
    transform: rotate(360deg)

@keyframes spin
  to
    transform: rotate(360deg)

@-webkit-keyframes ping
  75%, 100%
    transform: scale(2)
    opacity: 0

@keyframes ping
  75%, 100%
    transform: scale(2)
    opacity: 0

@-webkit-keyframes pulse
  50%
    opacity: .5

@keyframes pulse
  50%
    opacity: .5

@-webkit-keyframes bounce
  0%, 100%
    transform: translateY(-25%)
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1)
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1)

  50%
    transform: none
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1)

@keyframes bounce
  0%, 100%
    transform: translateY(-25%)
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1)
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1)

  50%
    transform: none
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1)
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1)

.animate-none
  -webkit-animation: none !important
  animation: none !important

.animate-spin
  -webkit-animation: spin 1s linear infinite !important
  animation: spin 1s linear infinite !important

.mix-blend-multiply
  mix-blend-mode: multiply !important

.mix-blend-saturation
  mix-blend-mode: saturation !important

.bg-blend-darken
  background-blend-mode: darken !important

.bg-blend-difference
  background-blend-mode: difference !important

.filter
  --tw-blur:var(--tw-empty) !important
  --tw-brightness:var(--tw-empty) !important
  --tw-contrast:var(--tw-empty) !important
  --tw-grayscale:var(--tw-empty) !important
  --tw-hue-rotate:var(--tw-empty) !important
  --tw-invert:var(--tw-empty) !important
  --tw-saturate:var(--tw-empty) !important
  --tw-sepia:var(--tw-empty) !important
  --tw-drop-shadow:var(--tw-empty) !important
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important

.filter-none
  filter: none !important

.blur-md
  --tw-blur:blur(12px) !important

.brightness-150
  --tw-brightness:brightness(1.5) !important

.contrast-50
  --tw-contrast:contrast(0.5) !important

.drop-shadow-md
  --tw-drop-shadow:drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)) !important

.grayscale
  --tw-grayscale:grayscale(100%) !important

.hue-rotate-60
  --tw-hue-rotate:hue-rotate(60deg) !important

.invert
  --tw-invert:invert(100%) !important

.saturate-200
  --tw-saturate:saturate(2) !important

.sepia
  --tw-sepia:sepia(100%) !important

.backdrop-filter
  --tw-backdrop-blur:var(--tw-empty) !important
  --tw-backdrop-brightness:var(--tw-empty) !important
  --tw-backdrop-contrast:var(--tw-empty) !important
  --tw-backdrop-grayscale:var(--tw-empty) !important
  --tw-backdrop-hue-rotate:var(--tw-empty) !important
  --tw-backdrop-invert:var(--tw-empty) !important
  --tw-backdrop-opacity:var(--tw-empty) !important
  --tw-backdrop-saturate:var(--tw-empty) !important
  --tw-backdrop-sepia:var(--tw-empty) !important
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important

.backdrop-filter-none
  -webkit-backdrop-filter: none !important
  backdrop-filter: none !important

.backdrop-blur-lg
  --tw-backdrop-blur:blur(16px) !important

.backdrop-brightness-50
  --tw-backdrop-brightness:brightness(0.5) !important

.backdrop-contrast-0
  --tw-backdrop-contrast:contrast(0) !important

.backdrop-grayscale
  --tw-backdrop-grayscale:grayscale(100%) !important

.backdrop-hue-rotate-90
  --tw-backdrop-hue-rotate:hue-rotate(90deg) !important

.backdrop-invert
  --tw-backdrop-invert:invert(100%) !important

.backdrop-opacity-75
  --tw-backdrop-opacity:opacity(0.75) !important

.backdrop-saturate-150
  --tw-backdrop-saturate:saturate(1.5) !important

.backdrop-sepia
  --tw-backdrop-sepia:sepia(100%) !important

@media (min-width: 640px)
  .sm\:container
    width: 100%

  @media (min-width: 640px)
    .sm\:container
      max-width: 640px

  @media (min-width: 768px)
    .sm\:container
      max-width: 768px

  @media (min-width: 1024px)
    .sm\:container
      max-width: 1024px

  @media (min-width: 1280px)
    .sm\:container
      max-width: 1280px

  @media (min-width: 1536px)
    .sm\:container
      max-width: 1536px

  .sm\:flex-row-reverse
    flex-direction: row-reverse !important

  .sm\:font-bold
    font-weight: 700 !important

  .sm\:mt-0
    margin-top: 0px !important

  .sm\:shadow-md
    --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

  .sm\:text-center
    text-align: center !important

  .sm\:tabular-nums
    --tw-ordinal:var(--tw-empty) !important
    --tw-slashed-zero:var(--tw-empty) !important
    --tw-numeric-figure:var(--tw-empty) !important
    --tw-numeric-spacing:var(--tw-empty) !important
    --tw-numeric-fraction:var(--tw-empty) !important
    font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction) !important
    --tw-numeric-spacing:tabular-nums !important

  .sm\:w-2\/5
    width: 40% !important

  .sm\:w-3\/5
    width: 60% !important

@media (min-width: 768px)
  .md\:container
    width: 100%

  @media (min-width: 640px)
    .md\:container
      max-width: 640px

  @media (min-width: 768px)
    .md\:container
      max-width: 768px

  @media (min-width: 1024px)
    .md\:container
      max-width: 1024px

  @media (min-width: 1280px)
    .md\:container
      max-width: 1280px

  @media (min-width: 1536px)
    .md\:container
      max-width: 1536px

  .md\:font-bold
    font-weight: 700 !important

  .md\:max-w-4xl
    max-width: 56rem !important

  .md\:opacity-50
    opacity: 0.5 !important

  .md\:hover\:opacity-20:hover
    opacity: 0.2 !important

  .md\:shadow-sm
    --tw-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

  .md\:shadow-md
    --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

  .md\:text-center
    text-align: center !important

  .md\:grid-cols-2
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important

@media (min-width: 1024px)
  .lg\:font-bold
    font-weight: 700 !important

  .lg\:shadow-md
    --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

  .lg\:text-center
    text-align: center !important

@media (min-width: 1280px)
  .xl\:shadow-md
    --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important

@media (min-width: 1536px)
  .\32 xl\:shadow-md
    --tw-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important