<h3>
  <i class="fa-brands fa-readme"></i>
  {{ .Site.Params.aboutme.title  }}
</h3>
<p class="mb-2 ml-1">
  {{ div (sub now.Unix (.Site.Params.aboutme.birdyear | time.AsTime).Unix) 31536000 }} {{ .Site.Params.aboutme.year }}, {{ .Site.Params.aboutme.sex }}<br/>
  {{ .Site.Params.aboutme.description | safeHTML }}
</p>