<div class="mb-8">
  <h2 class="mt-8 sm:mt-0">
    <i class="fa fa-briefcase"></i>
    {{ .Site.Params.experiences.title }}
  </h2>

  {{ range.Site.Params.jobs.list }}
    <h3 class="mb-1">{{ .position }}</h3>
    <p class="ml-1 mb-0">
      {{ if .link }}<a class="font-semibold" href="{{ .link }}">{{ .company }}</a>
      {{ else }}{{ .company }}{{ end }} &middot; {{ .dates | markdownify }}
    </p>
    {{ if .details }}
      <p class="ml-2 mb-0">{{ .details | markdownify }}</p>
    {{ end }}
    {{ if .tools }}
      <p class="ml-2 mb-0">Tools:</br> {{ .tools | markdownify }}</p>
    {{ end }}
  {{ end }}
</div>
