<footer class="text-center text-sm pt-2 border-t border-gray-500 mt-6">
  <p>&copy; {{ now.Year }} {{ .Site.Params.copyright | markdownify }}</p>
  <p>
    <a href="https://github.com/darshanbaral/sada">sada</a> by
    <a href="https://www.darshanbaral.com">darshan</a>
  </p>
</footer>
