<head>
  <title>{{ .Site.Params.title }}</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  {{ partial "linkCSS" . }}
  <link rel="stylesheet" href="/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/vendor/fork-awesome/css/fork-awesome.min.css">
</head>
