<div class="mb-8">
<h2 class="mt-4">
    <i class="fa fa-code"></i> {{ .Site.Params.projects.title }}
</h2>
{{ range .Site.Params.projects.list }}
<h3 class="mb-1">
    {{ if .url  }}
        <a class="text-warning" href="{{ .url }}">{{ .title }}</a>
    {{ else }}
        {{ .title }}
    {{ end }}
    {{ if .tag }}<span class="badge">{{ .tag }}</span>{{ end }}
</h3>
<p class="mb-0 ml-1">{{ .description | markdownify }}</p>
{{ end }}
</div>