<h3>
  <i class="fa fa-cogs"></i>
  {{ .Site.Params.skills.title }}
</h3>
{{ range.Site.Params.skills.list }}
<p class="mt-2">{{ .skill }}</p>
  {{ if .skillrating }}
    <div class="w-full border border-gray-500 dark:border-gray-300 mt-1 rounded h-5">
      <div class="bg-blue-500 dark:bg-yellow-500 h-full" style="width: {{ .skillrating }}%;"></div>
    </div>
  {{ end }}
{{ end }}
