<div class="flex mb-1 mt-2 justify-center flex-wrap">
  {{ range .Site.Params.social.list }}
    {{ if .url }}
    <a href="{{ .url }}" title="{{ .title }}">
      <i class="{{ .icon }} text-2xl py-1 px-2 m-1 rounded hover:bg-gray-300 dark:hover:bg-dark3"></i>
    </a>
    {{ else }}
    <i class="{{ .icon }} text-2xl py-1 px-2 m-1 rounded hover:bg-gray-300 dark:hover:bg-dark3" title="{{ .text }}"></i>
    {{ end }}
  {{ end }}
</div>
